.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: #102c5772;
    position: sticky;
    z-index: -1;
    color: #f8f0e5;
}