.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;

    .button {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;



        .notice {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 40%;
            border-radius: 50px;
            gap: 30px;
            position: relative;
            overflow: hidden;

            color: #f8f0e5;
            background: #102c5772;

            @media (max-width: 768px) {
                gap: 10px;

            }

            .ping {
                width: 20px;
                height: 20px;
                border-radius: 30px;
                background: lime;
            }

            h1 {
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 0.5rem;

                @media (max-width: 768px) {
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                }
            }

            .callAction {
                width: 100%;
                height: 100%;
                background: #102c57;
                position: absolute;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 1rem;

                    @media (min-width: 1366px) {
                        font-size: 1.8rem;
                    }

                    @media screen and (min-width: 1720px) {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    .work {
        height: 50%;
        width: 100%;
        display: flex;

        .textwrap {
            width: 100%;
            overflow: hidden;
            position: relative;

            h1 {
                text-transform: uppercase;
                font-weight: bold;
                position: absolute;
                font-size: 7rem;
                box-sizing: content-box;
                word-wrap: break-word;

                @media (max-width: 768px) {
                    font-size: 5.5rem;
                }

                @media screen and (min-width: 1720px) {
                    font-size: 8rem;
                }





                &:nth-child(1) {
                    color: transparent;
                    -webkit-text-stroke: 1px #102c57;
                }

                &:nth-child(2) {
                    color: #102c57;
                    animation: clipp 30s ease infinite alternate;
                }

                @keyframes clipp {
                    0% {
                        clip-path: circle(23.0% at 11% 89%);
                    }

                    20% {
                        clip-path: circle(10.0% at 37% 80%);
                    }

                    50% {
                        clip-path: circle(50.0% at 68% 95%);
                    }

                    70% {
                        clip-path: circle(80.0% at 75% 59%);

                    }

                    100% {
                        clip-path: circle(23.0% at 50% 62%);
                    }
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}