.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80vh;

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 90%;
        border-radius: 30px;
        border: 5px solid #102c57;
        position: relative;

        .marquee {
            position: absolute;
            bottom: 0;
            
        }

    }

}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}